/.idea
/AppFastApi/.idea
/certificates/example
/signed
/no_signed
/unsigned
/test
/example_http
/AppFastApi/scripts

# temporary blocking
signed_docker.py
docker-compose.yml
/dist/install.sh
/AppFastApi/test_main.http